{# NewCreditCardForm - Add or Pay with a new credit card #}
        <div id="new-credit-card-form" class="bg-gray-100 rounded-2xl shadow p-4" >
            <form id="newccform" style="display:inine;">
                <span class="block text-sm font-medium text-gray-700">Number:</span><input
                    type="text"
                    min="16"
                    max="16"
                    class="mt-1 block rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-number"
                    id="cc-number"
                    required
                /><br>
                <span class="block text-sm font-medium text-gray-700">Expiry (mm/yy):</span><input
                    type="text"
                    min="5"
                    max="5"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-expiration"
                    id="cc-expiration"
                    required
                /><br>
                <span class="block text-sm font-medium text-gray-700">CVC:</span><input
                    type="text"
                    min="5"
                    max="5"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-cvv"
                    id="cc-cvv"
                    required
                /><br>
                    <span class="block text-sm font-medium text-gray-700">Holder name:</span><input
                    type="text"
                    min="0"
                    max="30"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-holder"
                    id="cc-holder"
                    
                /><br>
                    <span class="block text-sm font-medium text-gray-700">Address:</span><input
                    type="text"
                    min="0"
                    max="100"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-address"
                    id="cc-address"
                    
                /><br>
                <span class="block text-sm font-medium text-gray-700">City:</span><input
                    type="text"
                    min="0"
                    max="100"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-city"
                    id="cc-city"
                    
                /><br>
                <span class="block text-sm font-medium text-gray-700">Country:</span><input
                    type="text"
                    min="0"
                    max="100"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-country"
                    id="cc-country"
                    
                /><br>
                <span class="block text-sm font-medium text-gray-700">Postal Code:</span><input
                    type="text"
                    min="0"
                    max="100"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-postcode"
                    id="cc-postcode"
                    
                /><br>
                <span class="block text-sm font-medium text-gray-700">State:</span><input
                    type="text"
                    min="0"
                    max="100"
                    class="mt-1 block  rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    name="cc-state"
                    id="cc-state"
                    
                /><br>
                <span class="block text-sm font-medium text-gray-700">Save Credit Card:</span><input
                    type="checkbox"
                    name="cc-save"
                    id="cc-save"
                />
            </form>
        </div>
