            <iframe name='collectionFrame' id='collectionFrame'  height="400" width="400" style="display:none;" ></iframe> 
            <form id="collectionForm" target='collectionFrame' name="devicedata" method="post" action="https://centinelapistag.cardinalcommerce.com/V2/Cruise/Collect" > 
                <input type="hidden"  name="Bin" id="Bin" value="" /> 
                <input type="hidden"  name="JWT" id="JWT" value="" /> 
            </form>

            <form id="step1Response"  name="step1Response" > 
                <input type="hidden"  name="sid" id="sid" value="" /> 
                <input type="hidden"  name="tid" id="tid" value="" /> 
            </form>  


